.clock {
    background: #333;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.clocktime,
.clockday,
.clockdate,
.clockampm {
    font-family: sans-serif;
    font-size: 30px;
    color: #eee;
}

.clocktime {
    font-size: 48px;
}

  #mainstopwatch span{
    background: #c7e0f8;
    color:#0776de;
    padding:10px;
    width:55px;
    margin:3px;
    display:inline-block;
    align-self: left;
    background:#e0e0e0;
    box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
  }
  
  #mainstopwatch button{
    font-size: 22px;
    -webkit-appearance: none;
    border:none;
    background-color: #2e80b3;
    color:white;
    width:110px;
    height:55px;
    justify-content: space-between;
    transition:0.2s;
    border-radius:40px;
    box-shadow: 6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
  }
  
  #mainstopwatch button:nth-child(even){
    background-color: rgb(241, 64, 64);
  }
  
  #mainstopwatch button:last-child{
    background-color: #20d364;
  
  }
  #mainstopwatch button:hover{
    background:#333;
    color:#e0e0e0;
    border-radius:35px;
    box-shadow: 6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
    transition: 0.2s;
  }